# Exploratory Data Analysis (EDA) by Ninh Nguyen

In [1]:
# import libraries

import sweetviz as sw
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
# read and load data

Shipdata = pd.read_csv('titanic.csv')
Shipdata.set_index('PassengerId',inplace=True)
Shipdata

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [3]:
# analyze data and display in browser

report = sw.analyze(Shipdata)

                                             |      | [  0%]   00:00 -> (? left)

In [4]:
report.show_html('output.html',open_browser = True)

Report output.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [5]:
# Separate X and y for train and test data

X = Shipdata.drop('Survived',axis=1)
y = Shipdata['Survived']

In [6]:
X_train, X_test, y_train, y_test= train_test_split(X,y,test_size = 0.3)

In [7]:
# analyze data and display in browser

traintest_Shipdata = sw.compare([X_train,'Train'],[X_test,'Test'])

                                             |      | [  0%]   00:00 -> (? left)

In [8]:
traintest_Shipdata.show_html('output.html',open_browser = True)

Report output.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.